---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

import WidgetAbout from './WidgetAbout.astro'
import WidgetPrinciples from './WidgetPrinciples.astro'
import WidgetPhotography from './WidgetPhotography.astro'
import MarqueeServices from './MarqueeServices.astro'

import bg01 from '../assets/img/mieras-portrait-01.jpg' // Image is 1600x900
import bg02 from '../assets/img/mieras-bg-02-grain.png' // Image is 1600x900

// const { bg01 = '/mieras-bg-01.png', bg02 = '/mieras-bg-02.png' } = Astro.props
---

<section class="relative flex overflow-hidden hero">
  <div class="z-50 flex flex-col justify-between stretch hero__content min-h-max">
    <MarqueeServices />

    <div
      class="container grid items-end justify-end grid-cols-1 gap-8 widgets z-5 stretch md:row-auto md:grid-cols-4 lg:grid-cols-3"
    >
      <WidgetAbout class="col-span-1 md:col-span-2 lg:col-span-1" />
      <WidgetPrinciples class="col-span-1 md:col-span-2 lg:col-span-1" />
      <WidgetPhotography class="col-span-1 md:col-span-4 lg:col-span-1" />
    </div>
  </div>

  <Image
    src={bg01}
    widths={[240, 540, 720, bg01.width]}
    sizes={`(max-width: 360px) 720px, (max-width: 720px) 1440px, (max-width: 1600px) 2560px, ${bg01.width}px`}
    alt="A description of my image."
    quality="max"
    class="absolute top-0 left-0 object-cover w-full h-full z--2 mix-blend-hue"
    decoding="async"
  />

  <Image
    src={bg02}
    widths={[240, 540, 720, bg02.width]}
    sizes={`(max-width: 360px) 720px, (max-width: 720px) 1440px, (max-width: 1600px) 2560px, ${bg01.width}px`}
    alt="A description of my image."
    quality="90"
    class="absolute top-0 left-0 object-cover w-full h-full z--1 mix-blend-lighten"
    decoding="async"
  />

  <!-- <img class="absolute top-0 left-0 object-cover w-full h-full z--1 mix-blend-hue" src={bg01} alt="" decoding="async" /> -->
  <!-- <img
    class="absolute top-0 left-0 object-cover w-full h-full z--2 mix-blend-lighten"
    src={bg02}
    alt=""
    decoding="async"
  /> -->
</section>

<style lang="scss">
  // * {
  //   border: 1px solid red;
  // }
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero {
    min-height: 100vh;
    background: red;

    background: linear-gradient(180deg, #ef8d45 0%, #b3727e 48%, #62426b 100%);
  }

  .hero__content {
    gap: 60vh;
  }

  .widgets {
    gap: var(--space-xs);
    padding-bottom: var(--space-xs);
  }

  :global(.widget) {
    background: var(--background);
    border-radius: var(--radius-default);
    padding: var(--space-s);
    overflow: hidden;
  }
</style>
